<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.title %}
        {{ page.title }} - 
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="author" type="application/rdf+xml" title="FOAF" href="http://martindevans.me/foaf.rdf" />

    <script src="{{ ASSET_PATH }}/js/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
    
    <script src="{{ ASSET_PATH }}/js/d3.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/trianglify.min.js"></script>

    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css-social-buttons/css/zocial.stripped.css" />
    <link href="{{ ASSET_PATH }}/css/pygments.css" rel="stylesheet" type="text/css" media="all">
     
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    {% if site.JB.rss_path %}
    <link href="{{ site.production_url }}{{ site.JB.rss_path }}" rel="alternate" type="application/rss+xml" title="{{ site.title }}" />
    {% endif %}
    
    <!-- fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
        </div>
        <div class="collapse navbar-collapse" id="primary-navbar">
          <ul class="nav navbar-nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
            <li><a href="http://placeholder-software.co.uk" target="_blank">Heist</a></li>
          </ul>
          <ul class="nav pull-right social">
              {% if site.JB.rss_path %}
                <li>
                  <a href="{{ site.production_url }}{{ site.JB.rss_path }}" class="zocial rss icon" target="_blank"></a>
                </li>
              {% endif %}
              {% if site.author.github %}
                <li>
                  <a href="https://www.github.com/{{ site.author.github }}" class="zocial github icon" target="_blank"></a>
                </li>
              {% endif %}
              {% if site.author.googleplus %}
                <li>
                  <a href="https://profiles.google.com/{{ site.author.google }}" class="zocial googleplus icon" target="_blank"></a>
                </li>
              {% endif %}    
              {% if site.author.twitter %}
                <li>
                  <a href="http://www.twitter.com/{{ site.author.twitter }}" class="zocial twitter icon" target="_blank"></a>
                </li>
              {% endif %}                          
              {% if site.author.facebook %}
                <li>
                  <a href="http://www.facebook.com/{{ site.author.facebook }}" class="zocial facebook icon" target="_blank"></a>
                </li>
              {% endif %}           
              {% if site.author.linkedin %}
                <li>
                  <a href="http://www.linkedin.com/in/{{ site.author.linkedin }}" class="zocial linkedin icon" target="_blank"></a>
                </li>
              {% endif %}                    
              {% if site.author.feedburner %}
                <li>
                  <a href="http://feeds.feedburner.com/{{ site.author.feedburner }}" class="zocial rss icon" target="_blank"></a>
                </li>
              {% endif %}
            </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="content">
        {{ content }}
      </div>

      <footer>
        <p>&copy; {{ site.author.name }} 2014 
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and a modified <a href="http://github.com/dhulihan/hooligan" target="_blank">Hooligan Theme</a>
        </p>
      </footer>
    </div> <!-- /container -->
    {% include JB/analytics %}
    
    <script>
        function height() {
            return Math.max(
                document.body.scrollHeight, document.documentElement.scrollHeight,
                document.body.offsetHeight, document.documentElement.offsetHeight,
                document.body.clientHeight, document.documentElement.clientHeight
            );
        }
    
        var t = new Trianglify({
            noiseIntensity: 0
        });
            
        function redraw() {
            var pattern = t.generate(document.documentElement.clientWidth, height());
            document.documentElement.setAttribute("style", "background-image: " + pattern.dataUrl + "; background-size: cover;");
        }
        redraw();
        
        window.onresize = function() { redraw(); };
    </script>
  </body>
</html>
