<div class="page-header">
  <h1>
    {{ page.title }} 
    {% if page.tagline %}
      <small>{{ page.tagline }}</small>
    {% endif %}
  </h1>
  
  <div>
    Written By
    <b>
        {% if page.author %}
            {% if page.author.url %}
                <a href="{{ page.author.url }}">{{ page.author.name }}</a>
            {% else %}
                {{ page.author.name }}
            {% endif %}
        {% else %}
            {{ site.author.name }}
        {% endif %}
    </b>
    
    On
    
    <b>{{ page.date | date_to_long_string }}</b>
    
    {% if page.category %}
        Filed In <a href="{{ site.production_url }}/categories/#{{ page.category }}-ref"><b>{{ page.category }}</b></a>
    {% endif %}
  </div>
  
  <!-- breadcrumbs -->
  <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "item": {
                  "@id": "{{ site.production_url }}/categories/",
                  "name": "Categories"
                }
            },
            {
                "@type": "ListItem",
                "position": 2,
                "item": {
                  "@id": "{{ site.production_url }}/categories/#{{ page.category }}-ref",
                  "name": "{{ page.category }}"
                }
            },
            {
                "@type": "ListItem",
                "position": 3,
                "item": {
                  "@id": "{{ site.production_url }}{{ page.url }}",
                  "name": "{{ page.title }}"
                }
            }
        ]
    }
  </script>
  
  <!-- Blog Post Metadata -->
  <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ page.title }}",
        "alternativeHeadline": "{{ page.tagline }}",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ site.production_url }}{{ page.url }}",
        },
        "image": {
            "@type": "ImageObject",
            
            {% if page.image %}
                "url": "{{ site.production_url }}{{ page.image.url }}",
                "width": {{ page.image.width }},
                "height": {{ page.image.height }}
            {% else %}
                "url": "{{ site.production_url }}{{ site.default_article_image.url }}",
                "width": {{ site.default_article_image.width }},
                "height": {{ site.default_article_image.height }}
            {% endif %}
        },
        "datePublished": "{{ page.date | date_to_xmlschema }}",
        "author": {
            "@type": "Person",
            "name": "{% if page.author %}{{ page.author.name }}{% else %}{{ site.author.name }}{% endif %}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ site.publisher.name }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ site.production_url }}{{ site.publisher.image }}",
                "width": 60,
                "height": 60
            }
        }
    }
  </script>
  
  <div>
    {% unless page.tags == empty %}
      <section>
        <ul class="tag_box inline">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
      </section>
    {% endunless %}         
  </div>
</div>

<div class="row">
  <div class="span11">
    {{ content }}
    <hr>
    <div class="pagination btn-group">
        <div style="display: block; margin-left: auto; margin-right: auto;">
          {% if page.previous %}
            <a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
          {% else %}
            <a class="btn disabled prev">&larr; Previous</a>
          {% endif %}
            <a class="btn" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a>
          {% if page.next %}
            <a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
          {% else %}
            <a class="btn next disabled">Next &rarr;</a>
          {% endif %}
        </div>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
</div>
